.loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.781);
    z-index: 55500;
}