.cookie-card {
    max-width: 320px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.title {
    font-weight: 600;
    color: rgb(31 41 55);
    display: flex;
    justify-content: end;
}

.description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
    display: flex;
    text-align: end;
}

.orange-background {
    background: #E4801E;
}

.description a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246);
}

.description a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    flex-shrink: 0;
}

.pref {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(31 41 55);
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    background-color: transparent;
}

.pref:hover {
    color: rgb(156 163 175);
}

.pref:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.accept {
    border: none;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    border-radius: 0.5rem;
    padding-bottom: 0.625rem;
    /* background-color: rgb(17 24 39); */
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
    background-color: rgb(55 65 81);
}

.accept:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.green-background {
    background: #198754;
}